<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "<span>NEOS</span> catalogue".html_safe, root_path, class: "navbar-brand" %>
      <%- if params.has_key?(:lib) %>
        <%- @library = params[:lib] %>
        <%= link_to image_tag(@library), @libraries[@library]["url"] %>
      <%- end %>
       <%- if @brand %>
        <%- @library = @brand %>
        <%= link_to image_tag(@library), @libraries[@library]["url"] %>
      <%- end %>
    </div>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>
<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
  