<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
  
      <%- if params.has_key?(:lib) %>
        <%- @library = params[:lib] %>
        <%= link_to image_tag(@library), root_path(:lib => @library) %>
      
       <%- elsif @brand %>
        <%- @library = @brand %>
        <%= link_to image_tag(@library), root_path(:lib => @library) %>
     
       <%- else %>
       <%= link_to image_tag("neos-logo", :class => "neos"), root_path %>
       <%- end %>
      <p class="neos-tag">NEOS Catalogue</p>
    </div>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

  