<%# TODO: make all '<a href=' a link_to %>
<div id="holdings">

  <div class="numb"></div>
  <table>
    <tr>
      <th>Where is this?</th>
    </tr>

    <% for item in @holdings.reverse %>
      <tr>
        <td>
          <p class="lib-loc">

            <%= location(item)[:name] %>
            <% if location(item)[:url] %>
              <a href="<%= location(item)[:url] %>" target="_blank">
                <span class="glyphicon glyphicon-info-sign">
                </span>
              </a>
            <% end %>
          </p>
          <% links(location(item)[:name]).each do |name,link| %>
            <% if item[:call] == "Internet Access" %>
              <strong>
                <a href="<%= electronic_access_url(proxy?(name), location(item)[:proxy], link ) %>" target="_blank" class="loc-call">
                  <span class="glyphicon glyphicon-share-alt"></span>
                  Click here for Internet Access
                </a>
              </strong>
              <p style="font-size:10pt;">(<%= name %>)</p>
            <% end %>
          <% end %>
          <span class="loc-call"><span class="a-label">call number: </span><%= item[:call] %></span>

          <div class="statuses">
            <span class="a-label">status: </span>
            <%= status(item) %>
            <% if unavailable?(item) %>
              <p style="font-size: small"><strong>Note: For access, please contact <%= link_to $libraryname+" Library", $homeurl %></strong></p>
            <% end %>
            <% if item[:public_note] %>
              <p style="font-size:small"><strong>Note: <%= item[:public_note] %></strong></p>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
</div>
