<% unless has_search_parameters? %>
  <div id="content" class="col-md-12">
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
    <%= render 'shared/sitelinks_search_box' %>
	</div>
  <% else %>
  <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
  <div id="sidebar" class="<%= sidebar_classes %>">
  	<%= render 'search_sidebar' %>
	</div>
 <div id="content" class="<%= main_content_classes %>">
    <%= render 'search_results' %>
  <% end %>
</div>
