<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
    <li><%= link_to 'Course Reserves', 'https://neosreserves.library.ualberta.ca/' %></li>
    <li><%= link_to 'Login', 'https://myaccount.library.ualberta.ca/barcode?neos=true' %></li>
    <li class="last"><%= link_to 'Help', 'https://www.neoslibraries.ca/catalogue-help/' %></li>
  </ul>


</div>
